<div class="row">
  <label class="col-sm-offset-6">Kindly click this button to free resources!
    <button (click)="done();" class="btn btn-primary">Click when done viewing page</button>
  </label>
</div>
<div *ngIf="fails.length > 0">
  <h1 class="col-sm-12">These searches timed out!</h1>
</div>
<div class="row" *ngFor="let fail of fails">
  <p>Name:&nbsp;<span [innerHTML]="fail.name"></span></p>
  <p>Year:&nbsp;<span [innerHTML]="fail.year"></span></p>
  <p>State:&nbsp;<span [innerHTML]="fail.state"></span></p>
  <p>District:&nbsp;<span [innerHTML]="fail.district"></span></p>
  <p>Court:&nbsp;<span [innerHTML]="fail.court"></span></p>
</div>
<div class="row" *ngFor="let record of records; let i = index">
  <table class="table table-bordered table-responsive" border="1">
    <tr>
      <th>Sr.No</th>
      <th>Case Type / Case Number / Case Year</th>
      <th>Petitioner Name vs Respondent Name</th>
      <th>View</th>
    </tr>
    <tr *ngFor="let row of record; let j = index ">
      <td *ngIf="row.length === 1" style="color:rgba(255,46,51,0.99);" colspan="4" [innerHTML]="row[0]"></td>
      <td *ngIf="row.length !== 1" [innerHTML]="row[0]"></td>
      <td *ngIf="row.length !== 1" [innerHTML]="row[1]"></td>
      <td *ngIf="row.length !== 1" [innerHTML]="row[2]"></td>
      <td *ngIf="row.length !== 1"><a *ngIf="!disable" (click)="view(i,j+1)">View Details</a></td>
    </tr>
  </table>
</div>
