<div class="row">
    <div class="col-xs-12 btn btn-raised bottom">
        <div class="col-xs-3 left">
          <h6>Username</h6>
        </div>
        <div class="col-xs-2 left">
          <h6>Total Searches</h6>
        </div>
        <div class="col-xs-2 left">
          <h6>Infinite Searches</h6>
        </div>
        <div class="col-xs-2 left">
          <h6>Searches Left</h6>
        </div>
        <div class="col-xs-2">
          <h6>Expiration Date</h6>
        </div>
      </div>
    <div class="col-xs-12 list-holder">
      <div *ngFor="let name of userName; let i = index" (click)="openUser(i)" class="row btn bottom user">
          <div class="col-xs-3" [innerHTML]="name"></div>
          <div class="col-xs-2" [innerHTML]="adminFlag[i]"></div>
          <div class="col-xs-2" [innerHTML]="infiFlag[i]"></div>
          <div class="col-xs-2" [innerHTML]="noSearches[i]"></div>
          <div class="col-xs-2" [innerHTML]="searchLimit[i]"></div>
      </div>
      <div  class="row btn bottom add" [routerLink]="['/admin/addUser']">
        <div class="col-xs-12">+</div>
      </div>
    </div>
</div>
