<div class="wrapper">
  <header>
    <app-navbar></app-navbar>
  </header>
  <router-outlet></router-outlet>
</div>
<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom" style="margin-bottom: 0;position:static;border: 0">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['./contact_us']">Contact Us</a></li>
        <li><a ><span class="fa fa-newspaper-o" style="padding-right:5px;"></span>Subscribe</a></li>
        <li><a [routerLink]="['./privacy']">Privacy</a></li>
        <li><a [routerLink]="['./tandc']">Terms & Conditions</a></li>
      </ul>
  </nav>
</footer>
