<div class="inner-content row">
  <div class="row">
    <div class="center-block wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false">
      Searches till now - <span [innerHTML]="total_searches"></span>
    </div>
  </div>
  <div class="row">
    <h4>About Us</h4>
    <p>This website is an interface to search the Indian Ecourt website for all district court based cases.
      It offers an easy and client friendly feel to the whole procedure. It takes out the effort and time
      required to access the site and make individual searches for each year and each court by pipelining the
      whole operation. It offers large amount of error handling while providing seamless transition from page to page.
    </p>
    <hr>
  </div>
  <div class="row">
    <h4>The Developers</h4>
    <ul class="home-work clearfix" type="none">
      <div class="col-cs-6">
        <li>
          <h4 style="text-align: center"><span class="glyphicon glyphicon-user"></span>&nbsp;Akshat Shetty</h4>
          <p>
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;True coder at heart<br>
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Love for web development<br>
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Student ( in 2017 )<br>
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Gaming Enthusiast<br>
          </p>
          <a href="https://github.com/AkshatShetty101"><i class="fa fa-github"></i>
            <span>https://github.com/AkshatShetty101</span></a><br>
          <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <span>akshatshetty2908@gmail.com</span>
          <h5></h5>
        </li>

      </div>
      <div class="col-cs-6">
        <li class="pull-right">
          <h4 style="text-align: center"><span class="glyphicon glyphicon-user"></span>&nbsp;Adhrit Shetty</h4>
          <p>
            I am currently (2017) pursuing a Bachelor's in Information Technology Engineering from Sardar Patel Institute Of Technology, Mumbai, India.
          </p>
          <p>
            Fondness for problem solving and a thirst for knowledge is what I recognize myself by. I can be contacted using the underlying information.
          </p>
          <a href="https://github.com/Adhrit-Shetty"><i class="fa fa-github"></i>
            <span>https://github.com/Adhrit-Shetty</span></a><br>
          <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <span>adhritshetty2908@gmail.com</span>
          <h5></h5>
        </li>
      </div>
    </ul>
    <hr>
  </div>
</div>
