<div class="inner-content row">
  <div class="row" style="margin-bottom: 0">
    <h4>SecureSearch Digital Court</h4>
    <p>
      SecureSearch Digital Court is a portal providing access to national database of district court based cases. The
      portal offers an easy and efficient search process to identify any civil or criminal records against individuals.
    </p><hr />
    <h4>Proprietary Notice and Liability Disclaimer</h4>
    <p>
      The information disclosed in this Web site, including all designs and related materials, is the valuable property
      of SecureSearch Screening Services Private Limited, SecureSearch reserves all patent, copyright and other
      proprietary rights to this Web site, including all design, manufacturing, reproduction, use, and sales rights
      thereto, except to the extent said rights are expressly granted to others.
    </p><br /><br />
    <p>
      SecureSearch is not responsible for, and expressly disclaims all liability for, damages of any kind arising out
      of use, reference to, or reliance on any information contained within the site.
      While the information contained within the site is periodically updated, no guarantee is given that the information provided in this Web site is
      correct, complete, and up-to-date.
    </p><br /><br />
    <p>
      Although the SecureSearch Web site may include links providing direct access to other Internet resources,including
      Web sites, SecureSearch is not responsible for the accuracy or content of information contained in these sites.
    </p><hr />
  </div>
</div>
