<div class="inner-content row">
  <div class="row">
    <h4>The District Courts of India</h4>
    <p>The District Courts of India are chaired through a judge. Impartiality is practiced by these courts at
      the district level in India. The Indian District Courts are under the judicial and administrative
      control of the State's High Court to which a particular district belongs.Every district's highest court
      is presided over by the Sessions and District Judge. This is the major court of public authority.
      There are numerous other courts subsidiary to the court of District and Sessions Judge. Three tier
      system of courts exists in India. Under the District and the Sessions Court there are many other courts.
    </p>
    <p>On the civil side the court of Civil Judge is at the lowest level. The court of the Judicial Magistrate
      is at the lowest level in the Criminal front. The civil cases of small financial hazard are decided by
      the Junior Division Civil Judge. The criminal cases punishable with five years imprisonment are decided
      by the Judicial Magistrates.The civil cases are taken to the Court of Civil Judge or the Senior Division
      and the court of the Chief Judicial Magistrate handles the criminal cases. At the topmost level, there
      may be more than one court of additional sessions and district judge with similar legal authority vested
      to the Sessions and District Judge.The characteristic feature of district judiciary is that judicial
      independence is provided to each of the courts. There is a strong bar in every district that ensures
      that the decisions of the courts are according to the law and the verdicts are given without any type
      of act of kindness or terror.
    </p>
    <hr>
  </div>
  <div class="row">
    <h4>About Us</h4>
    <p>The District Courts of India are chaired through a judge. Impartiality is practiced by these courts at
      the district level in India. The Indian District Courts are under the judicial and administrative
      control of the State's High Court to which a particular district belongs.Every district's highest court
      is presided over by the Sessions and District Judge. This is the major court of public authority.
      There are numerous other courts subsidiary to the court of District and Sessions Judge. Three tier
      system of courts exists in India. Under the District and the Sessions Court there are many other courts.
    </p>
    <p>On the civil side the court of Civil Judge is at the lowest level. The court of the Judicial Magistrate
      is at the lowest level in the Criminal front. The civil cases of small financial hazard are decided by
      the Junior Division Civil Judge. The criminal cases punishable with five years imprisonment are decided
      by the Judicial Magistrates.The civil cases are taken to the Court of Civil Judge or the Senior Division
      and the court of the Chief Judicial Magistrate handles the criminal cases. At the topmost level, there
      may be more than one court of additional sessions and district judge with similar legal authority vested
      to the Sessions and District Judge.The characteristic feature of district judiciary is that judicial
      independence is provided to each of the courts. There is a strong bar in every district that ensures
      that the decisions of the courts are according to the law and the verdicts are given without any type
      of act of kindness or terror.
    </p>
    <hr>
  </div>
  <div class="row">
    <h4>The Developers</h4>
    <ul class="home-work clearfix" type="none">
      <div class="col-cs-6">
        <li>
          <h4 style="text-align: center"><span class="glyphicon glyphicon-user"></span>&nbsp;Akshat Shetty</h4>
          <p>
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;True coder at heart<br>
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Love for web development<br>
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Student ( in 2017 )<br>
            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Gaming Enthusiast<br>
          </p>
          <a href="https://github.com/AkshatShetty101"><i class="fa fa-github"></i>
            <span>https://github.com/AkshatShetty101</span></a><br>
          <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <span>akshatshetty2908@gmail.com</span>
          <h5></h5>
        </li>

      </div>
      <div class="col-cs-6">
        <li class="pull-right">
          <h4 style="text-align: center"><span class="glyphicon glyphicon-user"></span>&nbsp;Adhrit Shetty</h4>
          <p>
            I am currently (2017) pursuing a Bachelor's in Information Technology Engineering from Sardar Patel Institute Of Technology, Mumbai, India.
          </p>
          <p>
            Fondness for problem solving and a thirst for knowledge is what I recognize myself by. I can be contacted using the underlying information.
          </p>
          <a href="https://github.com/Adhrit-Shetty"><i class="fa fa-github"></i>
            <span>https://github.com/Adhrit-Shetty</span></a><br>
          <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <span>adhritshetty2908@gmail.com</span>
          <h5></h5>
        </li>
      </div>
    </ul>
    <hr>
  </div>

</div>
