table, td, tr{
  border-color: black!important;
}

table{
  width: 100%;
}

label{
  color: black!important;
}

.case_details_table label{
  color: black!important;
}

.case_details_table td{
  border-top: none!important;
}
