.form-control{
  display: inline;
  width: auto;
}

#stacknames{
  display: inline;
}

.captcha{
  height: 20%;
  width: 40%;
}

.court_holder{
  max-height: 150px;
  overflow: auto;
  border: solid 1px black;
}


