<div class="inner-content row">
  <div class="row">
    <form [formGroup]="myForm" class="col-sm-offset-3 col-sm-5 form-holder">
      <div class="row">
        <input class="form-control" formControlName="username" name="username" placeholder="Enter Username...." type="text" />
      </div>
      <div class="row">
        <input class="form-control" formControlName="password" name="password" placeholder="Enter Password...." type="password" />
      </div>
      <div class="row">
        <a class="col-sm-offset-2">Forgot Username or Password ?</a>
      </div><br>
      <div class="row">
        <input class="submit-btn" type="submit" value="Log In" />
      </div>
    </form>
  </div>
</div>
