<HTML>
<HEAD>
    <TITLE>ADD COURT</TITLE>

    <link rel="stylesheet" href="../../Angular/src/assets/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../Angular/src/assets/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Angular/src/assets/bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="../../Angular/src/assets/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
</HEAD>
<BODY>
<div class="wrapper">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li *ngIf="loggedIn" routerLinkActive="active">
                        <a [routerLink]="['/eCourt']">E-Court</a>
                    </li>
                    <li *ngIf="!loggedIn" routerLinkActive="active">
                        <a (click)="loginItIs()">E-Court</a>
                    </li>
                    <li routerLinkActive="active">
                        <a>Statistics</a>
                    </li>
                </ul>
                <div >
                    <a class="navbar-brand logo">Search</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="!loggedIn" routerLinkActive="active">
                        <a [routerLink]="['/login']">Login</a>
                    </li>
                    <li *ngIf="loggedIn">
                        <button class="btn btn-primary" (click)="logOut()">Logout</button>
                    </li>
                    <li routerLinkActive="active" *ngIf="loggedIn">
                        <a>My Account</a>
                    </li>
                    <li routerLinkActive="active" *ngIf="loggedIn && admin">
                        <a [routerLink]="['/admin']">Admin Facilities</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="inner-content row">
        <div class="row">
            <h4>The District Courts of India</h4>
            <p>The District Courts of India are chaired through a judge. Impartiality is practiced by these courts at
                the district level in India. The Indian District Courts are under the judicial and administrative
                control of the State's High Court to which a particular district belongs.Every district's highest court
                is presided over by the Sessions and District Judge. This is the major court of public authority.
                There are numerous other courts subsidiary to the court of District and Sessions Judge. Three tier
                system of courts exists in India. Under the District and the Sessions Court there are many other courts.
            </p>
            <p>On the civil side the court of Civil Judge is at the lowest level. The court of the Judicial Magistrate
                is at the lowest level in the Criminal front. The civil cases of small financial hazard are decided by
                the Junior Division Civil Judge. The criminal cases punishable with five years imprisonment are decided
                by the Judicial Magistrates.The civil cases are taken to the Court of Civil Judge or the Senior Division
                and the court of the Chief Judicial Magistrate handles the criminal cases. At the topmost level, there
                may be more than one court of additional sessions and district judge with similar legal authority vested
                to the Sessions and District Judge.The characteristic feature of district judiciary is that judicial
                independence is provided to each of the courts. There is a strong bar in every district that ensures
                that the decisions of the courts are according to the law and the verdicts are given without any type
                of act of kindness or terror.
            </p>
            <hr>
        </div>
        <div class="row">
            <h4>About Us</h4>
            <p>The District Courts of India are chaired through a judge. Impartiality is practiced by these courts at
                the district level in India. The Indian District Courts are under the judicial and administrative
                control of the State's High Court to which a particular district belongs.Every district's highest court
                is presided over by the Sessions and District Judge. This is the major court of public authority.
                There are numerous other courts subsidiary to the court of District and Sessions Judge. Three tier
                system of courts exists in India. Under the District and the Sessions Court there are many other courts.
            </p>
            <p>On the civil side the court of Civil Judge is at the lowest level. The court of the Judicial Magistrate
                is at the lowest level in the Criminal front. The civil cases of small financial hazard are decided by
                the Junior Division Civil Judge. The criminal cases punishable with five years imprisonment are decided
                by the Judicial Magistrates.The civil cases are taken to the Court of Civil Judge or the Senior Division
                and the court of the Chief Judicial Magistrate handles the criminal cases. At the topmost level, there
                may be more than one court of additional sessions and district judge with similar legal authority vested
                to the Sessions and District Judge.The characteristic feature of district judiciary is that judicial
                independence is provided to each of the courts. There is a strong bar in every district that ensures
                that the decisions of the courts are according to the law and the verdicts are given without any type
                of act of kindness or terror.
            </p>
            <hr>
        </div>
        <div class="row">
            <h4>The Developers</h4>
            <ul class="home-work clearfix" type="none">
                <div class="col-cs-6">
                    <li>
                        <h4 style="text-align: center">Akshat Shetty</h4>
                        <p>
                            True coder at heart
                        </p>
                        <p>
                            Love for web development
                        </p>
                        <p>
                            Student ( in 2017 )
                        </p>
                        <p>
                            Gaming Enthusiast
                        </p>
                        <a href="https://github.com/AkshatShetty101"><i class="fa fa-github"></i>
                            <span>https://github.com/AkshatShetty101</span></a><br>
                        <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <span>akshatshetty2908@gmail.com</span>
                        <h5></h5>
                    </li>

                </div>
                <div class="col-cs-6">
                    <li class="pull-right">
                        <h4 style="text-align: center">Adhrit Shetty</h4>
                        <p>
                            I am currently (2017) pursuing a Bachelor's in Information Technology Engineering from Sardar Patel Institute Of Technology, Mumbai, India.
                        </p>
                        <p>
                            Fondness for problem solving and a thirst for knowledge is what I recognize myself by. I can be contacted using the underlying information.
                        </p>
                        <a href="https://github.com/Adhrit-Shetty"><i class="fa fa-github"></i>
                            <span>https://github.com/Adhrit-Shetty</span></a><br>
                        <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <span>adhritshetty2908@gmail.com</span>
                        <h5></h5>
                    </li>
                </div>
            </ul>
            <hr>
        </div>

    </div>
</div>
<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: black; margin-bottom: 0;position:static;">
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['./contact_us']">Contact Us</a></li>
            <li><a ><span class="fa fa-newspaper-o" style="padding-right:5px;"></span>Subscribe</a></li>
            <li><a [routerLink]="['./privacy']">Privacy</a></li>
            <li><a [routerLink]="['./tandc']">Terms & Conditions</a></li>
        </ul>
    </nav>
</footer>
<script src="../../Angular/src/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../Angular/src/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../Angular/src/assets/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="../../Angular/src/assets/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
</BODY>
</HTML>