<HTML>
<HEAD>
    <TITLE>ADD COURT</TITLE>

    <link rel="stylesheet" href="../../Angular/src/assets/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../Angular/src/assets/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Angular/src/assets/bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="../../Angular/src/assets/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
</HEAD>
<BODY>
<div class="wrapper">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li *ngIf="loggedIn" routerLinkActive="active">
                        <a [routerLink]="['/eCourt']">E-Court</a>
                    </li>
                    <li *ngIf="!loggedIn" routerLinkActive="active">
                        <a (click)="loginItIs()">E-Court</a>
                    </li>
                    <li routerLinkActive="active">
                        <a>Statistics</a>
                    </li>
                </ul>
                <div >
                    <a class="navbar-brand logo">SecureSearch</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="!loggedIn" routerLinkActive="active">
                        <a [routerLink]="['/login']">Login</a>
                    </li>
                    <li *ngIf="loggedIn">
                        <button class="btn btn-primary" (click)="logOut()">Logout</button>
                    </li>
                    <li routerLinkActive="active" *ngIf="loggedIn">
                        <a>My Account</a>
                    </li>
                    <li routerLinkActive="active" *ngIf="loggedIn && admin">
                        <a [routerLink]="['/admin']">Admin Facilities</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="inner-content row">
        <div class="row">
            <div class="center-block wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false">Searches till now - 123213
            </div>
        </div>
        <div class="row">
            <h4>About Us</h4>
            <p>This website is an interface to search the Indian Ecourt website for all district court based cases.
                It offers an easy and client friendly feel to the whole procedure. It takes out the effort and time
                required to access the site and make individual searches for each year and each court by pipelining the
                whole operation. It offers large amount of error handling while providing seamless transition from page to page.
            </p>
            <hr>
        </div>
        <div class="row">
            <h4>The Developers</h4>
            <ul class="home-work clearfix" type="none">
                <div class="col-cs-6">
                    <li>
                        <h4 style="text-align: center">Akshat Shetty</h4>
                        <p>
                            True coder at heart<br>
                            Love for web development<br><br>
                            Student ( in 2017 )<br>
                            Gaming Enthusiast<br>
                        </p>
                        <a href="https://github.com/AkshatShetty101"><i class="fa fa-github"></i>
                            <span>https://github.com/AkshatShetty101</span></a><br>
                        <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <span>akshatshetty2908@gmail.com</span>
                        <h5></h5>
                    </li>

                </div>
                <div class="col-cs-6">
                    <li class="pull-right">
                        <h4 style="text-align: center">Adhrit Shetty</h4>
                        <p>
                            I am currently (2017) pursuing a Bachelor's in Information Technology Engineering from Sardar Patel Institute Of Technology, Mumbai, India.
                        </p>
                        <p>
                            Fondness for problem solving and a thirst for knowledge is what I recognize myself by. I can be contacted using the underlying information.
                        </p>
                        <a href="https://github.com/Adhrit-Shetty"><i class="fa fa-github"></i>
                            <span>https://github.com/Adhrit-Shetty</span></a><br>
                        <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <span>adhritshetty2908@gmail.com</span>
                        <h5></h5>
                    </li>
                </div>
            </ul>
            <hr>
        </div>

    </div>
</div>
<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: black; margin-bottom: 0;position:static;">
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['./contact_us']">Contact Us</a></li>
            <li><a ><span class="fa fa-newspaper-o" style="padding-right:5px;"></span>Subscribe</a></li>
            <li><a [routerLink]="['./privacy']">Privacy</a></li>
            <li><a [routerLink]="['./tandc']">Terms & Conditions</a></li>
        </ul>
    </nav>
</footer>
<script src="../../Angular/src/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../Angular/src/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../Angular/src/assets/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="../../Angular/src/assets/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
</BODY>
</HTML>