html{
  height: 100%;
}
body{
  background-color: white;
  height: 100% !important;
  margin: 0;
}

.wrapper{
  padding-bottom: 50px;
  min-height: 100%;
}

footer{
  margin-top: -50px;
}

.heading{
  font-size: x-large;
}
.row{
  margin: 2%;
}
.inner-content{
  position: static;
  padding-top: 70px;
}

a{
  cursor: pointer!important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.refresh_btn{
  border: 1px solid rgba(0, 0, 0, 0.41);
  color: black;
  text-align: center;
  height: auto;
  width: 2.5vw;
  font-size: 1.5vw;
  display: inline-block;
}

.refresh_btn i{
  vertical-align: middle;
  margin-bottom: 0.3vw;
}

.form-control{
  display: inline;
  width: auto;
}


.submit-btn{
  background-color: #00b0ff;
  color: white;
  border: solid #00b0ff;
  border-radius: 5px;
  width: 25vw;
  height: 3.5vw;
  font-size: 150%;
  vertical-align: middle;
}

.error-msg{
  background-color: rgba(255, 0, 0, 0.66);
  border-radius: 5px;
  width: 25vw;
  height: 3.5vw;
  text-align: center;
}

.warning-msg{
  background-color: orange;
  border-radius: 5px;
  width: 25vw;
  height: 3.5vw;
  text-align: center;
}

.success-msg{
  background-color: rgba(21, 180, 21, 0.96);
  border-radius: 5px;
  width: 25vw;
  height: 3.5vw;
  text-align: center;
}

