<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li *ngIf="loggedIn" routerLinkActive="active">
        <a [routerLink]="['/eCourt']">E-Court</a>
      </li>
      <li *ngIf="!loggedIn" routerLinkActive="active">
        <a [routerLink]="['/login']">E-Court</a>
      </li>
      <li routerLinkActive="active">
        <a>Developers</a>
      </li>
      <li routerLinkActive="active">
        <a>Statistics</a>
      </li>
    </ul>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">Searching Made Easy For You</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!loggedIn" routerLinkActive="active">
        <a [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="loggedIn">
        <button class="btn btn-primary" (click)="logOut()">Logout</button>
      </li>
      <li routerLinkActive="active" *ngIf="loggedIn">
        <a>My Account</a>
      </li>
      <li routerLinkActive="active" *ngIf="loggedIn && admin">
        <a [routerLink]="['/admin']">Admin Facilities</a>
      </li>
    </ul>
  </div>
</nav>
