<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li routerLinkActive="active" [routerLink]="['/eCourt']">
        <a>E-Court</a>
      </li>
      <li routerLinkActive="active">
        <a>Developers</a>
      </li>
      <li routerLinkActive="active">
        <a>Statistics</a>
      </li>
    </ul>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">Making Searching Easier</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a>Login</a>
      </li>
      <li>
        <button class="btn btn-primary">Logout</button>
      </li>
      <li>
        <a>My Account</a>
      </li>
      <li>
        <a>Admin Facilities</a>
      </li>
    </ul>
  </div>
</nav>
